body {
  background: rgb(2, 0, 36);
  text-align: center;
  /* color: #000; */
}
.container {
  border-radius: 8px;
  padding: 18px 20px 48px 20px;
  margin: 10%;
  border: 2px solid #fff;
  width: auto;
  height: auto;
}
.mainDiv1 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 21px;
  box-shadow: 2px 2px 8px 2px rgba(227, 230, 230, 0.2);
}
h1 {
  margin-bottom: 51px;
  font-size: 40px;
}
h3 {
  text-align: center;
  margin-bottom: 41px;
  font-size: 31px;
  font-weight: 400;
}

.btn {
  border: 1px solid #000;
  padding: 18px 24px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  transition: all 0.4s ease-in;
  background: #fff;
}
.btn:hover {
  box-shadow: inset -10em 0 0 0 green, inset 10em 0 0 0 green;
  color: #fff;
}
.signup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

form input {
  border: transparent;
  outline: none;
  background: white;
  border-bottom: 1px solid #fff;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 24px;
  font-size: 18px;
}
form label {
  font-size: 18px;
  padding: 8px;
  font-size: 21px;
  color: #fff;
}
form ::placeholder {
  font-size: 18px;
  text-align: center;
}
.error {
  border: 2px solid red;
}
.eye {
  position: absolute;
  left: auto;
  top: 50%;
  color: #fff;
  background: #000;
}
/* ******media queries********** */
@media (max-width: 59em) {
  .signup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }
  .mainDiv1 {
    height: auto;
  }

  .signup input[type="text"],
  .signup input[type="email"],
  .signup input[type="password"],
  .signup input[type="number"] {
    width: 90%;
  }
  .eye {
    position: absolute;
    left: 45%;
  }
}
@media (max-width: 34em) {
  .signup {
    display: flex;
    flex-direction: column;
  }
  .mainDiv1 {
    height: auto;
    position: relative;
  }
  .eye {
    position: absolute;
    left: 69%;
    top: 43%;
  }

  .signup > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .signup input {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 12px;
  }

  .signup input[type="text"],
  .signup input[type="email"],
  .signup input[type="password"],
  .signup input[type="number"] {
    width: 70%;
  }
}
