.productCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 11px;
  padding: 11px;
  margin: 100px 28px 50px 28px;
  background: #e3e6e6;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(230, 255, 255, 0.3);
}
.carousel {
  width: 100%;
  max-width: 100%;
  margin: auto;
}
.description {
  font-size: 21px;
}
.corouselbutton,
.btn {
  background: none;
  border: 1px solid #000;
  padding: 5px 10px;
  color: #000;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
  transition: all 0.4s ease-in;
}
.corouselbutton:hover,
.btn:hover {
  box-shadow: inset -10em 0 0 0 #000, inset 10em 0 0 0 #000;
  color: #fff;
}
.productBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.productPrice {
  display: flex;
  flex-direction: column;
  padding: 21px;
}
.price {
  font-size: 28px;
  margin-bottom: 18px;
}
.carouselimage {
  max-width: 70%;
  height: 50%;
  border-radius: 12px;
  /* box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3); */
  /* margin: auto; */
}
.desCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 412px) {
  .productCont {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 34em) {
  .productCont {
    display: flex;
    flex-direction: column;
  }
}
