.deliveryBox {
  padding: 18px;
}
.deliveryBox h2 {
  margin-bottom: 21px;
  color: #fff;
}
.deliveryDetail {
  height: 50vh;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  border-radius: 12px;
  gap: 284px;
  margin: 0 auto;
}

.imgBox img {
  width: 20vh;
  height: 20vh;
  transform: scale(1.3);
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
}
.details {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.details select {
  text-align: center;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  background: #000;
  color: #fff;
  width: 10vw;
  font-size: 21px;
  margin-left: 25%;
}
.details span {
  margin-bottom: 21px;
  font-weight: 700;
  color: limegreen;
}

/* //////////////////// */
.tax p {
  position: relative;
  color: #fff;
  margin-bottom: 21px;
}
.tax p::before {
  content: "";
  display: block;
  width: 55vw;
  height: 1px;
  left: 15px;
  top: 118%;
  position: absolute;
  background: #fff;
}
.tax p::after {
  content: "";
  display: block;
  width: 50vw;
  height: 1px;
  left: -21px;
  top: 118%;
  background: #fff;
  position: absolute;
}

.summary {
  padding: 20px;
  width: 60vw;
  margin: 0 auto;
}

.summary h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 24px;
}

.summaryDetails {
  border-radius: 8px;
  margin-bottom: 20px;
  /* border: 2px solid #fff; */
  color: #fff;
  padding: 21px;
  font-size: 18px;
  box-shadow: 0 5px 11px rgba(255, 255, 255, 0.3);
}

.subTotal,
.shipping,
.tax,
.estimated,
.discount {
  display: flex;

  justify-content: space-between;
  margin-bottom: 10px;
}
.discount p,
.discount span {
  color: green;
}
p {
  margin: 0;
  font-weight: bold;
}

span {
  font-weight: 500;
}
.estimated {
  text-transform: uppercase;
}
.total {
  font-weight: 700;
}
.payment {
  padding: 20px;
  color: #fff;
  width: 100vw;
  margin: 0 auto;
}

.options h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 20px;
}

.options {
  margin-bottom: 20px;
  margin-top: 20px;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
}

span {
  margin-right: 15px;
}

.payBtn {
  display: flex;
  justify-content: center;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}

button:hover {
  color: #fff;
  box-shadow: inset -10em 0 0 0 #000, inset 10em 0 0 0 #000;
}

@media (max-width: 59em) {
  .deliveryDetail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }
  .summary {
    width: 80%;
  }
  .tax p::before {
    content: "";
    display: block;
    width: 55vw;
    height: 1px;
    left: 15px;
    top: 118%;
    position: absolute;
    background: #000;
  }
  .tax p::after {
    content: "";
    display: block;
    width: 73vw;
    height: 1px;
    left: -21px;
    top: 118%;
    background: #000;
    position: absolute;
  }
}
@media (max-width: 412px) {
  .deliveryDetail {
    display: flex;
    flex-direction: column;
    height: 60vh;
  }
  .details select {
    width: 50%;
  }
  .summary {
    width: auto;
  }
  .tax p::before {
    content: "";
    display: block;
    width: 55vw;
    height: 1px;
    left: auto;
    top: 118%;
    position: absolute;
    background: #000;
  }
  .tax p::after {
    content: "";
    display: block;
    width: 73vw;
    height: 1px;
    left: auto;
    top: 118%;
    background: #000;
    position: absolute;
  }
  .select {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }
}
@media (max-width: 34em) {
  .deliveryDetail {
    display: flex;
    flex-direction: column;
    height: 60vh;
  }
  .details select {
    width: 50%;
  }
  .summary {
    width: auto;
  }
  .tax p::before {
    content: "";
    display: block;
    width: 55vw;
    height: 1px;
    left: auto;
    top: 118%;
    position: absolute;
    background: #000;
  }
  .tax p::after {
    content: "";
    display: block;
    width: 73vw;
    height: 1px;
    left: auto;
    top: 118%;
    background: #000;
    position: absolute;
  }
  .select {
    display: flex;
    justify-content: space-around;
    font-size: 12px;
  }
  @media (max-width: 34em) {
    .deliveryDetail {
      display: flex;
      flex-direction: column;
      height: 70vh;
    }
    .imgBox {
      transform: scale(0.5);
    }
    .details {
      font-size: 14px;
    }
    .details select {
      width: 50%;
    }
    .summaryDetails {
      font-size: 12px;
    }
    .select {
      display: flex;
      justify-content: space-around;
      font-size: 10px;
    }
  }
}
