.contactForm {
  max-width: 400px;
  position: relative;
  margin: 38px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  text-align: center;
}

.contactForm h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #fff;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contactForm textarea {
  height: 120px;
  background: #fff;
}

.contactForm button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  animation: fade-in 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 40px;
    opacity: 1;
  }
}
