.filterCont {
  margin: 30px 30px 50px 30px;
  display: flex;
  justify-content: space-between;
  color: #fff;
  /* background: #e3e6e6; */
}
.filterCont h2 {
  font-size: 28px;
}
.filterBox {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filterBox p {
  font-size: 18px;
  border-bottom: 1px solid red;
}
.dropdown,
.btn {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  font-size: inherit;
  border-radius: 8px;
  padding: 7px 14px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.btn:hover {
  color: #fff;

  box-shadow: inset -10em 0 0 0 #000, inset 10em 0 0 0 #000;
}
@media (max-width: 59em) {
  .filterCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  @media (max-width: 34em) {
    .filterCont {
      font-size: 12px;
    }
    .filterCont > h2 {
      font-size: 18px;
    }
    .filterBox > p {
      font-weight: 400;
    }
  }
}
