.landingCont {
  margin-top: 30px;
  padding: 21px;
}
.container {
  height: 100vh;
}
.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.productsCont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 21px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .productsCont {
    display: flex;
    flex-direction: column;
  }
}
