.testimonialContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 90%;
  margin: auto;
  border: 2px solid #000;

  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.7);
}

.testimonialSlider {
  display: flex;
  width: calc(100% * var(--testimonial-count));
  transition: transform 0.5s ease-in-out;
  transform: translateX(calc(-100% * var(--active-testimonial-index)));
}

.testimonial {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.testimonialImage {
  width: auto;
  height: 20vh;
  border-radius: 10%;
  box-shadow: 0 5px 11px rgba(255, 255, 255, 0.3);
}

.testimonialText {
  margin-top: 10px;
  font-weight: 400;
  color: #fff;
  /* column-count: 2; */
}
.name {
  text-transform: uppercase;
  font-weight: 700;
}

.testimonialTitle {
  font-size: 24px;
  text-decoration: underline;
  padding-top: 18px;
  color: #fff;
  margin-bottom: 10px;
}

/* *********MEDIA QUERIES************ */
@media screen and (max-width: 34em) {
  .testimonialContainer {
    width: auto;
  }
}

@media screen and (max-width: 44em) {
  .testimonialContainer {
    width: auto;
  }
}

@media screen and (max-width: 59em) {
  .testimonialContainer {
    width: auto;
  }
}
