/* Carousel.module.css */

.slider {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  border-bottom: 2px solid #fff;
}

.slide {
  width: auto;
  height: 60vh;
  object-fit: contain;
  border-radius: 10px;
}

/* Media queries for different screen sizes */
@media screen and (max-width: 34em) {
  .slider {
    width: auto;
  }
  .slide {
    object-fit: cover;
  }
}

@media screen and (max-width: 44em) {
  .slider {
    width: auto;
  }
  .slide {
    object-fit: cover;
  }
}

@media screen and (max-width: 59em) {
  .slider {
    width: auto;
  }
}
