.header {
  font-size: 21px;
  margin: 28px;
  border: black;
  padding: 8px;
  border-radius: 11px;
  background: #e3e6e6;
}
.headerCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerBtn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
}

.user {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}
.btn:hover {
  cursor: pointer;

  box-shadow: inset -10em 0 0 0 #000, inset 10em 0 0 0 #000;
  color: #fff;
}
.btn:active {
  color: red;
}

.user {
  color: #fff;
}

img {
  height: 50px;
}
.user {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  text-decoration: underline;
}

/* ******MEDIA QUERIES****** */
.hamburger {
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #000;
  margin-right: 5px;
}

h2 {
  margin-left: 350px;
}

@media (max-width: 34em) {
  /* .headerCont {
    display: inline-block;
  } */
  .headerCont > h2 {
    display: none;
  }

  .headerCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headerBtn {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 1rem;
    margin-top: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .user {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
  }
}

@media (max-width: 59em) {
  .headerCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .headerBtn {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .user {
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    text-decoration: underline;
  }
}
