/* .FooterCont {
  display: flex;
  justify-content: space-evenly;
  margin: 31px 0 0 0;
  color: #fff;
  padding: 18px;
  border-top: 3px solid #fff;
}
.footAdd {
  font-weight: 400;
}
.FooterAdd,
.FooterDet {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
h6 {
  font-size: 18px;
  text-decoration: underline red;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.links:hover {
  text-decoration: underline;
}
.copy {
  display: flex;
  justify-content: space-between;
  padding: 14px 14px 0 7px;
  font-size: 18px;
  color: #fff;
  border-top: 2px solid #000;
}

@media (max-width: 34em) {
  .FooterCont {
    display: grid;
    gap: 18px;
    justify-items: center;
  }
  .copy {
    display: flex;
    flex-direction: column;

    gap: 14px;
  }
}
@media (max-width: 44em) {
  .FooterCont {
    display: grid;
    gap: 18px;
    justify-items: center;
  }
  .copy {
    display: flex;
    flex-direction: column;

    gap: 14px;
  }
}
@media (max-width: 34em) {
  a {
    font-size: 12px;
  }
  .footAdd {
    font-size: 12px;
  }
} */

/* Footer container */
.FooterCont {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: #fff;
  box-shadow: 2px 2px 18px 2px rgba(227, 230, 230, 0.2);
}

/* Logo */
.logo {
  width: 100px;
}

.FooterAdd {
  flex: 1;
  margin-right: 20px;
}

.footAdd {
  margin: 0;
  font-size: 19px;
}

.links {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 5px;
}

.FooterDet {
  flex: 1;
}

h6 {
  font-size: 16px;
  margin: 0;
}

.links {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  margin-top: 5px;
}

.copy {
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 0;
  color: #fff;
  font-size: 16px;
  border-top: 3px solid #fff;
  display: flex;
  justify-content: space-between;
  padding: 11px;
}

/* Media queries for responsiveness */
@media screen and (min-width: 34em) {
  .FooterCont {
    flex-direction: column;
    align-items: flex-start;
  }

  .FooterAdd {
    margin-top: 20px;
  }

  .FooterDet {
    margin-top: 20px;
  }

  .logo {
    width: 80px;
  }
}

@media screen and (min-width: 44em) {
  .FooterCont {
    flex-direction: row;
  }

  .FooterAdd {
    margin-top: 0;
  }

  .FooterDet {
    margin-top: 0;
  }
}

@media screen and (min-width: 59em) {
  .FooterCont {
    padding: 20px 40px;
  }
}
