.BuyDes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #fff;
  padding: 18px 36px;
  border-radius: 8px;
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  background: #fff;
  color: #000;
  cursor: pointer;
}
.BuyDes p:last-child:after {
  content: "Status: ";
  font-weight: bold;
  display: block;
}
.BuyDes img {
  border-radius: 11px;
  box-shadow: 0 0px 14px 0px rgba(0, 0, 0, 0.3);
  transform: scale(1.5);
}
.BuyCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 50px 0 50px;
}

/* ********MEDIA QUERIES******** */

@media (max-width: 59em) {
  .BuyDes {
    font-size: 1rem;
  }
  .BuyDes > img {
    transform: scale(1);
  }
  .BuyCont {
    display: flex;
    margin: auto;
    border-bottom: 1px solid #000;
  }
}

@media (max-width: 34em) {
  .BuyCont {
    display: flex;
    margin: auto;
    border-bottom: 1px solid #000;
  }
  .BuyDes > img {
    transform: scale(1);
  }
  .BuyDes {
    gap: 1rem;
    font-size: 5px;
  }
}

/* .BuyCont {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.BuyCont h2 {
  font-size: 20px;
  margin-right: 20px;
}

.BuyDes {
  display: flex;
  align-items: center;
}

.BuyDes img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.BuyDes p {
  margin: 0;
}

.BuyDes p:nth-child(3) {
  font-weight: bold;
  margin-right: 20px;
}

.BuyDes p:last-child {
  margin-top: 10px;
}

.BuyDes p:last-child:before {
  content: "Status: ";
  font-weight: bold;
  display: block;
} */
