.container {
  border-radius: 8px;
  padding: 18px;
  background: #e3e3e3;
  margin-top: 30%;
  height: auto;
  box-shadow: 0 0 18px 0 rgba(255, 255, 255, 0.3);
}
.mainDiv {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 21px;
  box-shadow: 2px 2px 8px 2px rgba(255, 255, 255, 0.3);
}
h1 {
  margin-bottom: 51px;
  font-size: 40px;
}
h3 {
  text-align: center;
  margin-bottom: 41px;
  font-size: 31px;
  font-weight: 700;
  color: #000;
}
.user {
  margin-bottom: 21px;
}
.user label,
.userPass label {
  font-size: 28px;

  color: #000;
}
.user input {
  border: transparent;
  border-bottom: 1px solid #000;

  font-size: 18px;
}
.userPass input {
  border: transparent;
  border-bottom: 1px solid #000;

  font-size: 18px;
}
.userPass {
  margin-bottom: 21px;
}
.btn {
  border: 1px solid #000;
  background: none;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  color: #000;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.btnDiv {
  margin-bottom: 21px;
}
.eye {
  position: absolute;
  left: auto;
  top: 55%;
}
.btn:hover {
  box-shadow: inset -10em 0 0 0 #000, inset 10em 0 0 0 #000;
  color: #fff;
}

.loaderContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.eye {
  position: absolute;
  top: auto;
  cursor: pointer;
  /* left: auto; */
}

/* *******MEDIA QUERIES******** */
@media (max-width: 34em) {
  .mainDiv {
    height: auto;

    position: relative;
  }
  .eye {
    position: absolute;
    left: auto;
    top: auto;
  }
}

@media (max-width: 59em) {
  .mainDiv {
    height: auto;
    position: relative;
  }
  .eye {
    position: absolute;
    left: auto;
    top: auto;
  }
}
